
.l_body {
    display: inline-block;
    width: 99%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.add_quytrinh {
    display: inline-block;
    width: 100%;
}
.back_quytrinh {
    padding-left: 5px;
    margin-bottom: 35px;
}
.back_quytrinh span {
    color: #337ab7;
    text-decoration: none !important;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: default;
}
.back_quytrinh img {
    margin-right: 11px;
    vertical-align: middle;
    border: 0;
}

.add_quytrinh1 {
    float: left;
    width: 50%;
    cursor: pointer;
}
.add_quytrinh1 .adds {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background: none;
    color: #4C5BD4;
    border: transparent;
    outline: none;
}

.adds img {
    margin-right: 10px;
    margin-top: -3px;
    vertical-align: middle;
    border: 0;
}


.giaidoans {
    margin-top: 35px;
    border-radius: 8px;
}
.title_giaidoans {
    background: #4C5BD4;
    padding: 14px 0 14px 14px;
    color: white;
}

.all_giaidoans {
    padding: 10px;
    margin-top: 2%;
    width: 100%;
    display: inline-block;
}

.giaidoans_item .giaidoans_item_1 {
    width: 99%;
    height: auto;
}
.circle_blue {
    float: left;
    background: #4C5BD4;
    color: white;
    border-radius: 100px;
    padding: 3px 9px;
}
.giaidoans_item_2 {
    width: 99%;
    
}

.row {
    margin: 0px;
}
.r_t_top {
    height: 26px;
}
.row_top_right {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row_top_right p {
    margin: 0;
    height: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
.setting {
    float: right;
    width: 150px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    height: 22px;
}
.setting img {
    display: block;
    float: right;
    border: 0;
}

.settings_hover {
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    background: white;
    right: 15px;
    top: 16px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
    margin-bottom: 5px;
    margin-top: 5px;
}

.settings_hover li{
    list-style: none;
    border-left: 3px solid #ffffff;
    cursor: pointer;
    padding: 16px 40px 14px 13px;
    font-size: 14px;
    font-weight: 600;

}
.settings_hover li:hover {
    color: #4C5BD4;
    border-left: 3px solid #4C5BD4;
}

.giaidoans_item_2 ul {
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 40px;
}
.giaidoans_item_2 li {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    
}
.giaidoans_item_2 span {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    height: 16px;
}
.giaidoans_item_2 li img {
    margin-right: 10px;
    vertical-align: middle;
    border: 0;
}
.view_detail_desc {
    cursor: pointer;
    color: #4C5BD4 !important;
}
.motacv {
    overflow: hidden;
    display: -webkit-box;
    line-height: 7px;
    margin-top: 5px;
    width: 80%;
    text-align: left;
    margin-left: 14px;
    font-style: normal;
    font-weight: 500;
}
.motacv p {
    line-height: 1.4;
}
.giaidoans_item_2 .motacv {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    margin-top: 5px;
    width: 80%;
    text-align: left;
    margin-left: 14px;
    font-style: normal;
    font-weight: 500;
}

.giaidoans_item_2 .view_detail_desc {
    cursor: pointer;
    color: #4C5BD4 !important;
    display: inline-block;
    margin-left: 5px;
  }

  .giaidoans_item_2 .fullContent {
    -webkit-line-clamp: initial; /* Hiển thị toàn bộ nội dung */
  }
  
  .giaidoans_item_2 .hide {
    display: none;
  }