

.tab_content {
    font-weight: 500;
    width: 100%;
}
.l_content_setting {
    width: 90%;
    margin: 45px auto 0;
}
.content span {
  display: flex;
  justify-content: space-between;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
    padding: 0 !important;
}
.content_1 {
    display: flex;
    justify-content: space-between;
}
.content_1_left {
    display: flex;
}
.content_1_left p {
    padding: 0 15px 0 0;
}
.content_1_right button {
    font-weight: 600;
    font-size: 14px;
    color: #4C5BD4;
    padding: 9px 17px;
    border: 1px solid #4C5BD4 !important;
    box-sizing: border-box;
    border-radius: 8px;
}
.l_thongtincongty {
    background: #FFFFFF;
    padding: 20px 40px;
    border-bottom: 1px dotted gray;
}

.l_thongtincongty_item {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.l_thongtincongty_text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}
.box {
    box-sizing: border-box;
    margin-top: 14px;
    padding: 2px 16px;
    color: rgba(0, 0, 0, 0.88);
    line-height: 1.5714285714285714;
    list-style: none;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; */
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    border-radius: 8px;
    border-bottom: 1px solid #d9d9d9;
}
.content2 .content_1_left {
    display: flex;
    justify-content: space-between;
}

.content2 .content_1_left p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.88);
    padding: 10px 0 0 12px
}
.content_3_left, .content_4_left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.l_backgroung {
    width: 20px;
    height: 20px;
    background: #307DF1;
    border-radius: 50%;
    margin: 10px 0;
}
.l_border_left {
    border-left: 1px solid #474747;
    margin: 0 25px;
}

.button_language {
    font-weight: 600;
    font-size: 14px;
    padding: 5px 17px;
    border: 1px solid !important;
    box-sizing: border-box;
    border-radius: 8px;
    

}
.button_language button {
    font-size: 14px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 4px 0;
    box-sizing: border-box;
}

.l_quyennguoidung {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #474747;
}
.l_quyennguoidung picture {
    margin-right: 5px;
}