

.tab_content {
    font-weight: 500;
    width: 100%;
}
.l_content_setting {
    width: 90%;
    margin: 45px auto 0;
}
.content_1 {
    display: flex;
    justify-content: space-between;
}
.content_1_left {
    display: flex;
}
.content_1_left p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #474747;
    padding: 10px ;
    width: auto;
}
.content_1_left picture {
    display: flex;
    justify-content: center;
}
.content_1_right {
    padding: 7px 17px;
    border: 1px solid #4C5BD4 !important;
    box-sizing: border-box;
    border-radius: 8px;
}
.content_1_right button {
    background-color: transparent;
    border: none;
}
.content_1_right button p {
    color: #4C5BD4;
    font-size: 14px;
    font-weight: 500;
}

.content_1_show {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 20px;
}
.content_1_show_body {
    width: 100%;
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}
.content_1_show_body p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}
.l_content_border {
    border-bottom: 1px dotted gray;
}

.content_1_show_body_left, .content_1_show_body_right {
    padding: 0 90px 0 20px;
}