
.tuyendung2 {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 130px;
}
.tuyendung2_3 {
    float: left;
}
.tuyendung2_3 button {
    outline: none !important;
    border: none !important;
}
.adds {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    background: none;
    color: #4C5BD4;
}
.adds picture {
    margin-right: 10px;
    margin-top: -3px;
}
.adds img {
    vertical-align: middle;
    border: 0;
}

.tuyendung2_2 {
    float: right;
    width: 40%;
}

.t_form_search {
    max-width: 447px;
    height: 36px;
}
.t_div_search {
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 50px;
    height: 36px;
    padding: 6px 13px;
    display: flex;
    justify-content: space-between;
}
.t_div_search input {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #333333;
   
}
.t_div_search input[type="search"]::-webkit-search-cancel-button,
.t_div_search input[type="search"]::-webkit-search-decoration,
.t_div_search input[type="search"]::-webkit-search-results-button,
.t_div_search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.t_div_search input[type="search"]::-moz-search-cancel-button {
  display: none;
}

.t_div_search input[type="search"]::-ms-clear {
  display: none;
}

.t_div_search input[type="search"]::ms-reveal,
.t_div_search input[type="search"]::-ms-clear {
  display: none;
}
.t_div_search .search_text::placeholder {
   font-size: 14px;
   font-weight: 600;
   color: #333333;
   opacity: 0.6;
}
.search_button {
    width: 26px;
  
    border: none;
    background-color: transparent;
}
.tab_content {
    width: auto;
    height: auto;
    margin-top: 12%;
}
.member_list {
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
    width: 102%;
    
}
.tablelist {
    width: 350%;
    max-width: unset;
    border-collapse: collapse;
    border-radius: 8px;
    border: 1px solid rgba(102, 102, 102, 0.24);
}
.table {
    margin-bottom: 20px;
}
.tab_content table {
    color: #474747;
    font-weight: 600;
    background-color: transparent;
    border-spacing: 0;
}

.tablelist thead {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4C5BD4;
    color: white;
}
.tablelist tr {
    display: table-row;
}

.tablelist th, .tablelist tr {
    text-align: center;
}
.table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.tablelist td {
    border: 1px solid rgba(102, 102, 102, 0.24);
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.tablelist th {
    border: 1px solid white;
    font-weight: 500;
}
.firstth {
    border-top-left-radius: 10px;
}
.lastth {
    border-top-right-radius: 10px;
}
.tablelist tbody tr {
    background: white;
}
.filter {
    width: 370px;
}
.filter td {
    opacity: 0.9;
}
.r_t_top_right:hover {
    cursor: pointer;
}

.r_t_top_right:hover .settings {
    display: block;
    
}
.text_user {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    border: none; */
}
.settings {
    z-index: 1;
    width: 185px;
    text-align: left;
    border-radius: 8px;
    display: none;
    position: absolute;
    background: rgb(246, 244, 244);
    right: 54%;
    top: 28px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
   
}
.settings li {
    border-left: 3px solid #ffffff;
    cursor: pointer;
    padding: 16px 40px 14px 13px;

}
.settings li:hover {
    color: #4C5BD4;
    border-left: 3px solid #4C5BD4;
}

.pagination {
    float: right;
    margin-top: 10px;
    border: #333333;
    margin-right: 40px;
}


@media (max-width : 1024px) {
    .member_list {
        width: 100%;
    }
}