
/* body_tin_tuyen_dung */
.new_r_t {
    margin-top: 30px;
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 8px;
    
}

.row {
    margin: 0;
}

.t_ita {
    width: 157px;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    padding: 0;
    margin: 0;
}

.t_new_type {
    padding: 0;
    display: inline-block;
    margin-left: 6%;
}

.pull_right {
    float: right !important;
    background: transparent;
    border: none;
}
.pull_right_img {
   display: flex;
   justify-content: flex-end;
}

/* setting */

.settings {
    position: relative;
    width: 165px;
    overflow: hidden;
    background-color: #4C5BD4;
    z-index: 10;
    text-align: left;
    border-radius: 8px;
    background: white;
    right: 15px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
}


.new_r_t_left {
    padding-left: 0px;
    padding-bottom: 10px;
}
.new_r_t_header {
    background: #F1F9FC;
    border-top-right-radius: 8px;
    padding: 8px;
    border-left: 5px solid #4C5BD4;
    border-top-left-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.new_r_t_left_h3 {
    width: 250px;
}

.new_r_t_left_link span {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #337ab7;
    margin-top: 0;
    margin-bottom: 0;
}
.new_r_t_left_tin {
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 30px;
    border-radius: 4px;
}
.new_r_t_left_tin:hover {
    background-color: #EB5757;
    color: #FFFFFF;
}

.new_r_t_right {
    position: relative;
}

.new_r_top_right {
    padding: 8px;
    width: 62px;
    height: 18px;
}

.new_r_t_body_content {
    padding: 13px 20px;
    border-bottom: 0.5px dashed rgba(71, 71, 71, 0.24);
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_r_t_body_content li {
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-right: 30px;
    line-height: 19px;
}
.new_r_t_body_content .text {
    color: #666666;
    font-size: 12px;
    font-weight: 600;
}
.new_r_t_body_content .icon {
    margin-right: 12px;
}
.settings li, .edit_new {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 20px 14px 13px;
    border-left: 3px solid #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.detail_new li a{
    color: #333333;
}
.detail_new li:hover a{
    color: #4C5BD4;
}

.settings li:hover ,.edit_new:hover {
    color: #4C5BD4;
    border-left: 3px solid #4C5BD4;
}
/* body_detail_tin_tuyen_dung */

@media (max-width: 1024px) {
    .tuyendung2_2 {
        margin-right: 4%;
    }
}

@media (max-width: 765px) {
    .t_new_dom {
        margin-right: 4%;
    }
}