.l_body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.l_body {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    max-width: 1120px;
    height: auto;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    border-bottom: 1px solid #ddd;

}

.nav li {
    cursor: default;
    background: none;
    border: none;
    font-size: 14px;
    margin: 0 2px 0 0;
    color: #474747 !important;
}

.li_tabs>.active {
    border-bottom: 4px solid #4C5BD4;
    color: #4C5BD4 !important;
}

.nav-tabs {
    display: block;
    overflow-y: hidden;

}

.li_tabs {
    line-height: 44px;
    cursor: default;
}

.li_tabs span {
    font-weight: 600;
    font-size: 14px;
    margin-right: 56px;
    padding: 12px 21.5px;
}

.li_tabs .hover:hover {
    border-color: #eee #eee #ddd;
    background-color: #eee;
}

@media (max-width: 620px) {
    .li_tabs span {
        margin: 0;
    }
}

@media (max-width: 450px) {
    .li_tabs span {
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .nav_tabs span {
        margin-right: 0;
        font-size: 10px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 370px) {
    .nav_tabs {
        display: flex;
        flex-wrap: wrap;
    }
}