.hs_body {
  padding: 5px;
}
.hs_body_card {
  background: #f1f9fc;
  border: 0.5px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 0px;
}
.row {
  display: flex;
}
.hs_body_card_no1 {
  width: 25%;
}
.hs_body_card_no2 {
  width: 67%;
}
.hs_body_card_no3 {
  width: 8%;
}
.hs_avt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}

.choose_option {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 200px;
  padding: 15px;
  z-index: 100000;
}
.choose_option ul li {
  padding: 5px 12px;
  color: #337ab7;
  font-weight: 600;
}
.choose_option ul {
  padding: 0;
}
.choose_option li:hover {
  border-left: 3px solid #337ab7;
}
.hs_footer {
  padding: 11px 5px;
  border-top: 1px dashed #999999;
}
.hs_footer p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #474747;
}
.word_wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
