.l_body {
    width: 100%;
    margin-top: 50px;
}

.t_delete_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #474747;
    padding-bottom: 30px;
}
.header_left {
    flex: 1;

}
.header_left p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #474747;
}
.between {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.between_time {
    margin-right: 10%;
}
.right {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

.form {
    width: 70%;
}
.t_div_search {
    display: inline-block;
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 50px;
    height: 36px;
    padding: 8px 13px;
    display: flex;
}
.t_div_search input {
    border: none;
    outline: none;
    width: 90%;
    color: #333333;
    font-size: 14px;
    font-weight: 600;

}
.t_div_search picture {
    padding: 0 10px 0 15px;
}

.t_div_search input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }


@media (max-width: 420px) {
    .t_delete_head {
        display: block;
    }
    .header_left p {
        text-align: center;
        margin-bottom: 10px;
    }
    .between {
        margin-bottom: 10px;
    }
    .right {
        display: block;
        width: 100%;
    }
    .form {
        width: 100%;
    }

}