.overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
} 

.modal_setting {
    display: block;
    padding-right: 2px;
    opacity: 1;
    
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
.contentquytrinh {
    width: 736px;
    height: auto;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.modal_content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
}
.contentdel {
    height: 280px
}

.modal_header {
    border: none;
    padding: 15px;
}
.headquytrinh {
    text-align: center;
    background: #4C5BD4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 28px;
}

.headquytrinh h5 {
    color: white;
    Font-size: 14px;
}

.modal_title {
    font-weight: 600;
    line-height: 28px;
}

.bodyquytrinh {
    text-align: left;
    padding-bottom: 0;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
    height: 118px;
    width: 631px;
}

.modal_body {
    position: relative;
}

.form_groups {
    margin-top: 30px;
    
}
.bodyquytrinh label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
}
.bodyquytrinh span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.red {
    color: #EB5757;
}

.inputright {
    float: right;
    width: 70%;
}
.inputquytrinh {
    background-color: white;
    border: 1px solid rgba(71, 71, 71, 0.48);
    width: 95%;
    height: 28px;
    border-radius: 8px;
    line-height: 45px;
    outline: none ;
    font-weight: 600;
}
.inputquytrinh::placeholder {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.dangers {
    position: relative;
    right: 6%;
    background-color: #4C5BD4;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    display: inline;
}
.errors {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
    position: absolute;
    padding: 5px;
    right: 15%;
    /* display: none; */
}
.footerquytrinh {
    margin-top: 2%;
    padding-right: 13%;
    text-align: right;
}
.modal_footer {
    border: none;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 95px;
}
.modal_footer button {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
}
.btn_huy span {
    opacity: 0.8;
}
.btn_huy:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.update {
    color: #fff;
    background-color: #5cb85c;
}
.update:hover {
    color: #fff;
    background-color: #449d44;
}
.update:active {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

