.l_body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.l_body {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1120px;
    height: auto;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    
}
.nav li {
    cursor: default;
    background: none;
    border: none;
    font-size: 14px;
    margin: 0 2px 0 0;
    color: #474747 !important;
}

.li_tabs>.active {
    border-bottom: 4px solid #4C5BD4;
    color: #4C5BD4 !important;
}
.nav-tabs {
    display: block;
    overflow-y: hidden;
    
}
.li_tabs {
    
    line-height: 44px;
    cursor: default;
}
.li_tabs span {
    font-weight: 700;
    font-size: 14px;
    margin-right: 56px;
    padding: 12px 21.5px;
}
.li_tabs .hover:hover {
    border-color: #eee #eee #ddd;
    background-color: #eee;
}
.tab_content {
 
    margin-top: 50px;
    margin-bottom: 50px;
}
.detail_tuyendung {
    padding-left: 15px;
}
.back_tuyendung {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    margin-bottom: 35px;
    display: flex;
    
}
.back_view {
    color: #474747;
    margin: 0 11px 0 0;
}
.back_view picture {
    width: 17px;
    height: 15px;
}

.back_text {
    color: #474747;
    font-size: 14px;
    font-weight: 600;
    cursor: default;
}
.detail_tuyendung1 {
    width: 100%;
}
.tuyendung1_title {
    
    height: 20px;
    margin-right: 0px;
    font-weight: 700;
    color: #333;
    font-size: 18px;
}
.detail_tuyendung1 p {
    margin-top: 10px;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
}

.list_uv {
    margin-top: 37px;
    margin-bottom: 24px;
    height: auto;
}
.row {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
 
}
.list_uv_cart {
    height: auto;
    width: 30%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.list_uv_header {
   
    border-radius: 4px 4px 0px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px;
}
.blue {
 background: #4C5BD4;
}
.blue__r {
    border-left: 8px solid #4C5BD4;
}
.orange {
    background: #FFA800;
}
.orange__r {
    border-left: 8px solid #FFA800;
}
.yellow {
    background: #F2C94C;
}
.yellow__r {
    border-left: 8px solid #F2C94C;
}
.light_blue {
    background: #2F80ED;
}
.light_blue__r {
    border-left: 8px solid #2F80ED;
}
.red {
    background: #EB5757;
}
.red__r {
    border-left: 8px solid #EB5757;
}
.green {
    background: #27AE60;
}
.green__r {
    border-left: 8px solid #27AE60;
}
.text_center {
    font-size: 14px;
    height: 16px;
    font-weight: 600;
}
.list_uv_body {
    height: 178px;
    overflow: scroll;
    
}
.lst_uv_body__r {
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 4px 0px;
}


.lst_uv_body__r p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #474747;
}
.text_warring {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #474747;
}
.lst_uv_body__r p:nth-child(1){
    font-weight: 600;
}

@media (min-width: 1024px) and (max-width: 1229px){
    .list_uv_cart {
        width: 29%;
    }
}@media (min-width: 765px) and (max-width: 991px){
    .list_uv_cart {
        width: 45%;
    }
}
@media (max-width: 764px) {
    .list_uv_cart {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    .row {
        width: 90%;
    }
   

}

