.tr {
    text-align: center;
    columns: #333333;
    font-weight: 600;
    font-size: 14px;
}
.tr td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}