.menu3_search {
  margin: 20px 55px;
  display: flex;
  justify-content: flex-end;
}
.form_search {
  margin-top: 52px;
  margin-bottom: 30px;
  float: right;
  display: block;
}
.l_div_search {
  background: #ffffff;
  border: 0.5px solid rgba(71, 71, 71, 0.24);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px 13px;
  width: 400px;
}
.l_div_search input {
  outline: none;
  border: none !important;
  width: 90%;
  font-weight: 600;
}
.menu3_table {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.menu3_table table {
  border-spacing: 0;
  border-collapse: collapse;
}
.menu3_background1 {
  background: #4c5bd4;
}

.l_size1 {
  width: 15%;
}
.menu3_tbl_padding {
  padding: 16px 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.l_size1 {
  width: 15%;
}
.l_size2 {
  width: 40%;
}
.l_icon_down {
  margin: auto 10px;
}
.menu3_background1 th {
  text-align: left;
}
.menu3_color {
  color: #474747;
}
.menu3_border {
  border-top: 0.5px dashed #cccccc;
}
.menu3_delete {
  display: flex;
  justify-content: center;
}
.menu3_delete_text {
  margin-top: 3px;
  color: #eb5757;
}
.icon_down {
  margin: auto 10px;
}

@media screen and (max-width: 479px) {
  .menu3_search {
    margin: 20px 10px;
  }
  .menu3_table {
    overflow-x: scroll;
  }
  .menu3_table_new {
    width: 200%;
  }
  .l_div_search {
    width: 100%;
  }
  .l_div_search input {
    width: 85%;
  }
}
