.l_drop_chinhsua {
    width: 100%;
    background: #FFFFFF;
    padding-inline: 0 16px;
    
}

.l_chinhsua_item_input {
    font-size: 14px;
    font-weight: 600;
    color: #474747;
}
.l_chinhsua_item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.l_chinhsua_item_left {
    flex: 2;
    padding-left: 32px;
}
.l_chinhsua_item_left label, .l_chinhsua_item_right label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}
.l_chinhsua_item_left input, .l_chinhsua_item_right input {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
    height: 32px;
    width: 95%;
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 10px;
    margin-top: 10px;
}

.l_chinhsua_item_right {
    flex: 1;
    padding-right: 32px;
} 
.l_chinhsua_item_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.l_chinhsua_item_button button {
    outline: none;
    border: none;
}

.l_button_left {
    background: none;
    margin-right: 15px;
}
.l_button_left button {
    background: none;
    color: #4C5BD4;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
}

.l_button_right button {
    background: #4C5BD4;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
}

