.wraper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar_content {
  width: 25%;
}
.sidebar {
  padding-right: 15px;
  border-radius: 0px 12px 0px 0px;
}

.bodyframe {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
