.overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeInOverlay 0.3s ease-in-out forwards;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal_setting {
  display: block;
  padding-right: 2px;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
}
.fade_in {
  animation-name: fade-in;
}

.fade_out {
  animation-name: fade-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-150%);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
   
  }
  to {
    opacity: 0;
    transform: translateY(-150%);
  
  }
}

.modal_dialog {
  position: relative;
  margin: 30px auto;
}

.modal_content {
  width: 474px;
  height: auto;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  outline: none;
}


.modal_header p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #474747;
  padding: 10px 0;
}

.modal_body {
  position: relative;
  padding: 15px;
}

.modal_body p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
}

.modal_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.modal_footer button {
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;

}

.l_btn_cancel {
  background: #BDBDBD;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 5px;
}

.btn_restore {
  background: #27AE60;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 5px;
}

.btn_delete {
  background: #EB5757;;
  padding: 8px 20px;
  border-radius: 8px;
  margin: 0 5px;
}

@media (max-width: 499px) {
  .modal_content {
    width: 90%;
  }
}