.body {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.recruitment button {
  background: none;
  color: #4c5bd4;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  outline: none !important;
  border: none !important;
  padding-right: 10px;
  margin-right: 50px;
}
.add img {
  margin-right: 10px;
  margin-top: -3px;
}
.bg_search {
  margin-bottom: 15px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 4px;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
  border-radius: 8px;
  width: 97%;
}
.search_top {
  margin-top: 27px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.search_new_t {
  display: flex;
  padding-bottom: 24px;
}
.div_no_pad {
  width: 25%;
  height: 35.6px;
}
.form_control {
  width: 87%;
  height: 62%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form_control:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.search_can_new {
  width: 95%;
  height: 100%;
}
.icon_search_top {
  display: inline-block;
  background: #4c5bd4;
  border-radius: 5px;
  padding: 1px 25px;
  width: 77%;
  text-align: center;
  height: 32.6px;
}
.icon_search_top img {
  padding-top: 5px;
}
.t_excel {
  display: block;
  border: 1px solid #20744a;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  color: #20744a !important;
}
.t_excel img {
  vertical-align: middle;
}
.member_list {
  border-radius: 8px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  margin-top: 10%;
  overflow-y: scroll;
}
.list_hs_t {
  display: flex;
  overflow-y: scroll;
  font-family: Roboto;
  width: 350%;
  max-width: unset;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid rgba(102, 102, 102, 0.24);
  height: 500px;
}
.hs_t {
  width: 250px;
  display: inline-block;
  padding: 0px;
  margin-right: 2px;
  min-height: 500px;
  border-right: 0.5px solid #cccccc;
  height: 3000px;
}
.hs_header {
  position: sticky;
  top: 0;
  background: #fff6e5;
  text-align: center;
  color: #474747;
  font-weight: bold;
  font-size: 15px;
  padding: 11px 0px;
  border-radius: 4px;
  z-index: 100;
}
.hs_header a {
  color: #337ab7;
}
.hs_status_job_1 {
  background: #27ae60;
  color: #ffffff;
}
.hs_status_job_2 {
  background: #eb5757;
  color: #ffffff;
}
.hs_status_job_3 {
  background: #ffa800;
  color: #ffffff;
}
.hs_status_job_4 {
  background: #4c5bd4;
  color: #ffffff;
}
.search_can_new option {
  cursor: pointer;
  padding: 6px;
  margin: 6px;
}
.tab_pane {
  width: 100%;
}
.my_select {
  border: 10px solid #ccc;
}
@media screen and (max-width: 768px) {
  .bg_search {
    display: grid;
  }
  .search_top {
    margin-top: 27px;
    margin-bottom: 0;
    display: inline-block;
  }
  .search_new_t {
    display: inline-block;
  }
  .div_no_pad {
    width: 100%;
    height: 35.6px;
    padding-bottom: 10px;
  }
  .form_control {
    width: 94%;
  }
  .icon_search_top {
    width: 90%;
  }
  .member_list {
    margin-top: 15%;
  }
}

@media screen and (max-width: 465px) {
  .icon_search_top {
    width: 85%;
  }
  .form_control {
    width: 89%;
  }
  .icon_search_top {
    width: 82%;
  }
}
