.wrapper {
  position: absolute;
  width: 360px;
  height: 455px;
  right: 16px;
  top: 80px;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.avatar {
  margin: 20px auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}
.img_avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu_name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  color: #484848;
}
.menu_cpn,
.menu_id {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #929292;
  font-weight: 600;
}
.menu {
  height: 25px;
  padding: 14px 0;
  display: flex;
  align-items: center;

}
.menu_icon {
  width: 23%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_menu {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #666666;
  width: 70%;
}
.next_icon {
  display: flex;
}
@media screen and (max-width: 495px) {
  .wrapper {
    position: absolute;
    width: 360px;
    height: 455px;
    right: 15px;
    top: 80px;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
