.overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeInOverlay 0.5s ease-in-out forwards;
}

@keyframes fadeInOverlay {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.modal_setting {
    display: block;
    padding-right: 2px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
}
.fade_in {
    animation-name: fade-in;
  }

  .fade_out {
    animation-name: fade-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-150%);
      
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      transform: translateY(0);
      opacity: 1;
     
    }
    to {
      opacity: 0;
      transform: translateY(-150%);
    
    }
  }
.modal_dialog {
    position: relative;
    margin: 30px auto;
}

.contentquytrinh {
    width: 736px;
    height: auto;
    border-radius: 8px;
}

.modal_content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    height: auto;
}

.modal_header {
    border: none;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.headquytrinh {
    text-align: center;
    background: #4C5BD4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.headquytrinh h5 {
    color: white;
    font-size: 14px;
}
.modal_title {
    margin: 0;
    line-height: 28px;
    font-weight: 600;
    font-style: normal;
}

.modal_form {
    display: block;
    margin-top: 0em;
}

.modal_body {
    position: relative;
    padding: 15px;
}
.bodytuyendung {
    padding: 5% 5% 0 5%;
    text-align: left;
    display: inline-block;

}
.form_groups {
    margin-bottom: 2%;

    height: auto;
}
.group_left {
    float: left;
    width: 45%;
}
.form_groups label {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.bodyquytrinh span {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
}
.red {
    color: #EB5757;
}
.float_right {
    float: right;
}

.tuyendungtext input {
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(71, 71, 71, 0.48);
    width: 98%;
    height: 20px;
    line-height: 23px;
    border-radius: 8px;
    padding: 6px;
    outline: none;
}

.tuyendungtext input::placeholder {
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.6;
}

.tuyendungtext input[type="date"]::-webkit-datetime-edit-text,
.tuyendungtext input[type="date"]::-webkit-datetime-edit-year-field,
.tuyendungtext input[type="date"]::-webkit-datetime-edit-month-field,
.tuyendungtext input[type="date"]::-webkit-datetime-edit-day-field {
  /* Các thuộc tính CSS để tuỳ chỉnh kiểu hiển thị */
  text-align: center;
  font-size: 16px;
  color: #333333;
  padding: 2px;
  
  
}

.tuyendungtext input[type="date"]::-webkit-datetime-edit-day-field:focus,
.tuyendungtext input[type="date"]::-webkit-datetime-edit-month-field:focus,
.tuyendungtext input[type="date"]::-webkit-datetime-edit-year-field:focus {
  color: white;
}

.position_recruit {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 6px;
    outline: none;
   line-height: 18px;
   color: #333333;
   font-size: 14px;
   font-weight: 600;
   height: 32px;
}

.group_right {
    float: right;
    width: 53%;
}
.form_groups label {
    display: contents;
}
.small_left {
    float: left;
    width: 44%;
}
.float_right {
    float: right;
}
.big_right {
    float: right;
    width: 53%;
}
.form_date , .to_date {
    width: 35% !important;
}
.formto {
    margin-left: 24px;
    margin-right: 25px;
}
.footerquytrinh {
    margin-top: 2%;
    padding-right: 13%;
    text-align: right;
}
.modal_footer {
    border: none;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%
}
.modal_footer button {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    margin-right: 16px;
}
.btn_huy span {
    opacity: 0.8;
}
.btn_huy:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.update {
    color: #fff;
    background-color: #5cb85c;
}
.update:hover {
    color: #fff;
    background-color: #449d44;
}
.update:active {
    color: #fff;
    background-color: #449d44;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 480px) and (max-width: 1024px){
.contentquytrinh {
    width: 95%;
}}


@media (min-width: 768px){
.modal_content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}}

@media screen and (min-width: 480px) and (max-width: 1024px){
.big_right {
    width: 100%;
}}

@media screen and (min-width: 480px) and (max-width: 1024px){
    .full_width {
        width: 100%;
    }}

@media (max-width: 420px) {
    .contentquytrinh {
        width: auto;
    }
}