.content {
  padding: 25px 25px;
}
.header_search {
  margin-top: 25px;
  margin-bottom: 25px;
}
.row_search_1 {
  position: relative;
  margin-bottom: 10px;
  padding-left: 0px;
}
.row_search_2 {
  width: 33%;
  border: 0.5px solid rgba(71, 71, 71, 0.24);
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  background: #ffffff;
}
.row_search_2 a {
  border-radius: 5px;
  width: 10%;
  padding: 5px !important;
  float: left;
  background: none !important;
}
.ui_autocomplete_input {
  width: 90%;
  background: none;
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 600;
  color: #555;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.member_list {
  border-radius: 8px;
  width: 99%;
  margin-top: 1%;
}
.table_content {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
  height: auto;
  overflow-x: scroll;
  padding-bottom: 0px !important;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.table {
  color: #474747;
  font-weight: 500;
  background-color: #fafafa;
}
.table_list {
  width: 100%;
  max-width: unset;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid rgba(102, 102, 102, 0.24);
}
.table thead {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4c5bd4;
  color: white;
}
.table tr {
  text-align: center;
}
.table thead tr th {
  padding: 8px;
  line-height: 1.42857143;
  border: 1px solid white;
  font-weight: 500;
  text-align: center;
}
.table tbody tr {
  background: #fafafa;
}
.table tbody tr td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table td {
  border: 1px solid rgba(102, 102, 102, 0.24);
}
.img_table {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.paginations {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border: #333333;
}

@media screen and (max-width: 768px) {
  .row_search_2 {
    width: 100%;
  }
  .content {
    padding: 5px;
  }
}
