.wrapper {
  background: #fffffe;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: block;
  margin: 0px 15px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c5bd4;
  margin-top: 10px;
  margin-bottom: 40px;
}
.item_list {
  display: flex;
  justify-content: space-between;
}
.item {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  text-align: center;
}
.item_image {
  display: block;
  margin: 0px auto;
  margin-bottom: 10px;
}
.item_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #474747;
  margin-bottom: 10px;
  height: 35px;
}
.item_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #666666;
  height: 150px;
  max-height: 160px;
}
.item_detail {
  color: #337ab7;
  text-decoration: none !important;
  text-align: center;
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  .item_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #666666;
    height: 200px;
  }
}
@media only screen and (max-width: 1200px) {
  .item {
    display: flex;
    flex-direction: column;
  }

  .item_text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color: #666666;
    height: 400px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 465px) and (max-width: 768px) {
  .item_title {
    height: 70px;
  }
  .item_text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color: #666666;
    max-height: 320px;
    /* height: 300px; */
  }
}
@media only screen and (max-width: 465px) {
  .item_list {
    display: inline-block;
  }
  .item {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 97%;
    border-bottom: 1px solid #4c5bd4;
    margin-bottom: 44px;
  }
  .item_text {
    height: 105px;
    font-size: 14px;
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .item_detail {
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 479px) {
  .item {
    width: 92%;
  }
}
