.tab_content {
  padding: 25px 25px;
}
.body {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.recruitment {
  display: flex;
  justify-content: space-between;
}
.recruitment a {
  background: none;
  color: #4c5bd4;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  outline: none !important;
  border: none !important;
  padding-right: 10px;
  margin-right: 50px;
}
.recruitment button {
  background: none;
  color: #4c5bd4;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  outline: none !important;
  border: none !important;
  padding-right: 10px;
  margin-right: 50px;
}
.add img {
  margin-right: 10px;
  margin-top: -3px;
}
.bg_search {
  margin-bottom: 15px;
  padding-top: 1px;
  padding-left: 15px;
  padding-right: 4px;
  margin-top: 15px;
}
.search_new_t {
  display: flex;
  padding-bottom: 24px;
}
.div_no_pad {
  width: 40%;
}
.div_no_pad_search {
  width: 30%;
}
.form_control {
  width: 115%;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form_control:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.search_can_new {
  width: 95%;
  height: 95%;
}
.icon_search_top {
  display: inline-block;
  background: #4c5bd4;
  border-radius: 5px;
  padding: 1px 25px;
  width: 77%;
  text-align: center;
}
.t_excel {
  display: block;
  border: 1px solid #20744a;
  padding: 5px 10px;
  border-radius: 5px;
  background: none;
  color: #20744a !important;
}
.t_excel img {
  vertical-align: middle;
}
.export_excel {
  float: right;
  top: 26%;
}
.export_excel .t_excel_payroll {
  border: 1px solid #20744a !important;
  margin-right: 5px !important;
}
.member_list {
  border-radius: 8px;
  width: 99%;
  margin-top: 10%;
}
.navigate_next {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 87.5%;
}
.turn {
  z-index: 1;
  background: #fff;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.12));
  opacity: 0.7;
  position: absolute;
  top: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin: -18px;
  cursor: pointer;
}
.turn_left {
  left: 20px;
}
.turn_right {
  right: 29%;
}
.table_content {
  width: 100%;
  overflow: hidden;
  border-radius: 10px !important;
  height: auto;
  overflow-x: scroll;
  padding-bottom: 0px !important;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.table {
  color: #474747;
  font-weight: 500;
  background-color: #fafafa;
}
.table_list {
  width: 100%;
  max-width: unset;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid rgba(102, 102, 102, 0.24);
}
.table thead {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4c5bd4;
  color: white;
}
.table tr {
  text-align: center;
}
.table thead tr th {
  padding: 8px;
  line-height: 1.42857143;
  border: 1px solid white;
  font-weight: 500;
  text-align: center;
}
.table tbody tr {
  background: #fafafa;
}
.table tbody tr td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table td {
  border: 1px solid rgba(102, 102, 102, 0.24);
}
/* scrollbar-color: red blue; */
.pull_left {
  margin: 20px 0;
  float: left !important;
}
.pull_right {
  float: right !important;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination li {
  display: inline;
}
.pagination li:first-child span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.active {
  z-index: 3;
  color: #fff !important;
  cursor: default;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}
.pagination li span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}
.paginations {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border: #333333;
}

/* -- salary --  */
.member_list_salary {
  margin-top: -15px !important;
}
.choose_can {
  height: 100% !important;
  width: 92% !important;
}
.search_date {
  width: 75% !important;
}
.div_no_pad_salary {
  width: 25% !important;
}
.div_search_salary {
  width: 55% !important;
  height: 34px !important;
}
.navigate_next_salary {
  top: 58% !important;
}

/* -- planing_appointment -- */
.body_planning {
  margin-top: 25px !important;
}
.add_planning {
  color: #333333 !important;
  font-weight: 600 !important;
}

/* -- payrollDown -- */
.btn_edit {
  margin-right: 10px;
}
.upload_file {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.custom_file_upload a {
  color: #4c5bd4;
}

@media screen and (max-width: 768px) {
  .search_new_t {
    display: block;
  }
  .div_no_pad {
    width: 100%;
    margin-bottom: 10px;
  }
  .search_date {
    width: 89% !important;
  }
  .div_no_pad_search {
    width: 100%;
  }
  .div_search_salary {
    width: 85.5% !important;
  }
  .body_header_left {
    width: 50%;
  }
  .bg_search {
    padding-left: 0px;
    padding-right: 4px;
  }
}
@media screen and (max-width: 465px) {
  .tab_content {
    padding: 10px;
  }
  .search_date {
    width: 78% !important;
  }
  .div_search_salary {
    width: 70.5% !important;
  }
  .table_list2 {
    width: 250%;
  }
}
