.ct_quytrinh {
    display: block;
    margin-top: 50px;
}
.l_body {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}
.l_body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    
}
.nav li {
    cursor: default;
    background: none;
    border: none;
    font-size: 14px;
    margin: 0 2px 0 0;
    color: #474747 !important;
}

.li_tabs>.active {
    border-bottom: 4px solid #4C5BD4;
    color: #4C5BD4 !important;
}
.nav-tabs {
    display: block;
    overflow-y: hidden;
    
}
.li_tabs {
    
    line-height: 44px;
    cursor: default;
}
.li_tabs span {
    font-weight: 700;
    font-size: 14px;
    margin-right: 56px;
    padding: 12px 21.5px;
}
.li_tabs .hover:hover {
    border-color: #eee #eee #ddd;
    background-color: #eee;
}
.add_quytrinh {
    margin-top: 50px;
}
.add_quytrinh, .quytrinh_item {
    display: inline-block;
    width: 100%;
} 
.back_quytrinh, .back_tuyendung {
    padding-left: 5px;
    margin-bottom: 35px;
}
.back_quytrinh button {
    color: #337ab7;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}
.back_quytrinh picture {
    margin-right: 4px;
}
.giaidoans {
    margin-top: 35px;
    border-radius: 8px;
}
.title_giaidoans {
    background: #4C5BD4;
    padding: 14px 0 14px 14px;
    color: white;
}
.add_quytrinh1 {
    float: left;
    width: 50%;
    cursor: pointer;
}
.add_quytrinh1 button {
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    opacity: 0.9;
}
.add_quytrinh1 picture {
    margin-right: 4px;
}
.giaidoans {
    margin-top: 35px;
    border-radius: 8px;
}