.wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav_tab {
  border-bottom: 1px solid #ddd;
  overflow-y: hidden;
  display: flex;
}
.active a {
  cursor: default;
  background: none;
  border: none;
  color: #4c5bd4 !important;
  border-bottom: 4px solid #4c5bd4;
}
.nav_tab a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #474747;
  font-weight: 600;
  font-size: 14px;
}
.nav_tab li a:hover {
  border-color: #eee #eee #ddd;
}
.nav li a:hover {
  background-color: #eee;
}
