.wrapper {
  display: inline-block;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 50px;
}
.wrapper_personnal_change {
  margin-top: 30px !important;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav_tab {
  border-bottom: 1px solid #ddd;
  overflow-y: hidden;
  display: flex;
}
.nav_tab_personnal_change li {
  width: 17%;
}
.active a {
  cursor: default;
  background: none;
  border: none;
  color: #4c5bd4 !important;
  border-bottom: 4px solid #4c5bd4;
}
.nav_tab a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #474747;
  font-weight: 600;
  font-size: 14px;
}
.nav_tab li a:hover {
  border-color: #eee #eee #ddd;
}
.nav li a:hover {
  background-color: #eee;
}

/* -- setting -- */
.wrapper .nav_tab_setting {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500 !important;
  font-size: 14px;
}
.wrapper .nav_tab_setting li a {
  font-weight: 500;
}
@media screen and (max-width: 495px) {
  .nav_tab {
    display: block;
  }
  .nav_tab_personnal_change li {
    width: 100%;
  }
}
