.wrapper {
  z-index: 5;
  position: absolute;
  width: 448px;
  right: 6%;
  top: 80px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: scroll;
}
.height_noti {
  width: 95%;
  height: 70px;
  padding: 21px 10px;
  display: flex;
}
.text_noti {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #5e5e5e;
  padding: 0 10px 0 10px;
  width: 88%;
  border-bottom: 1px solid #dad6d6;
}
.collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.userName_noti {
  color: #337ab7;
  font-weight: 600;
  margin-right: 5px;
}
.time_noti {
  margin-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #b2b0b0;
}
@media screen and (max-width: 768px) {
  .wrapper {
    z-index: 5;
    position: absolute;
    width: 300px;
    right: -2%;
    top: 80px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 494px) {
  .wrapper {
    z-index: 5;
    position: absolute;
    width: 300px;
    right: 5%;
    top: 80px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: scroll;
  }
}
