.l_body {
  display: inline-block;
  width: 99%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.back_quytrinh {
  padding-left: 5px;
  margin-bottom: 35px;
}
.back_quytrinh span {
  color: #337ab7;
  text-decoration: none !important;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}
.back_quytrinh img {
  margin-right: 11px;
  vertical-align: middle;
  border: 0;
}
.l_body_2 {
  display: flex;
}
.l_body_2_content {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.l_body_2_right {
  padding: 15px 0;
}
.l_body_2_left_header {
  display: flex;
  background: #4c5bd4;
  border-radius: 12px 12px 0px 0px;
  padding: 14px 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  height: 22px;
}
.d_input_info {
  background: none;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}
.pull_left {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.pull_left p {
  position: absolute;
  right: 45%;
  top: 2%;
}

.text_right {
  width: 25%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
  padding-left: 15px;
}
.l_body_2_left_body {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
  width: 100%;
}
.d_info_detail {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.d_info_header {
  width: 95%;
  padding: 12px 20px;
  text-align: center;
  background: #4c5bd4;
  border-radius: 12px 12px 0px 0px;
  position: relative;
}
.d_info_body {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
  padding: 20px;
  width: 95%;
}
.d_images_info {
  width: 220px;
  height: 334px;
  margin-top: 15px;
  position: relative;
  display: inline-block;
}
.d_img_info {
  width: 220px;
  height: 334px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.05));
  object-fit: cover;
}
.d_img_info1 {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.d_info_detail_text {
  font-weight: 700 !important;
  font-family: Roboto !important;
  font-size: 16px !important;
  line-height: 35px !important;
  color: rgb(0, 0, 0);
  font-style: italic;
}
.d_info_detail_text1 {
  font-family: Roboto !important;
  font-size: 16px !important;
  line-height: 35px !important;
  color: #474747;
  font-weight: 500;
}

.btn_add1 {
  float: right;
  background: none;
  color: #333333;
  border: none;
  font-size: 14px;
  font-weight: 600;
}
.footer_process {
  margin-top: 2%;
  padding-right: 13%;
  text-align: right;
  padding: 15px;
  border: none;
}
.modal_footer button {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 10px 30px;
  border-radius: 4px;
  color: inherit;
  border: none;
}
.btn_add {
  margin-left: 5px;
  color: #fff !important;
  background-color: #5cb85c;
}
.btn_add:hover {
  background-color: #449d44;
}

.d_info_header input::placeholder {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .l_body_2 {
    display: inline-block;
    width: 40%;
  }
  .l_body_2_content {
    width: 97%;
  }
}

@media screen and (max-width: 465px) {
  .l_body_2_content {
    width: 93%;
  }
}
