.wrapper {
  display: flex;
}

.item_left {
  height: 109px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  width: 75%;
  margin: 50px 20px 15px 10px;
  position: relative;
}

.item_left_text {
  width: 50%;
  padding: 24px 0px 24px 41px;
}

.item_left_text1 {
  color: #9ed16f;
  margin-right: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 35px;
}

.item_left_text2 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #666666;
  margin-top: 8px;
}

.item_left_img {
  width: 50%;
  position: absolute;
  bottom: 0%;
  right: 10px;
  right: 10px;
  display: grid;
  justify-items: flex-end;
}

.item_right_weather {
  height: 109px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  
  width: 23%;
  margin: 50px 10px 20px 12px;
}
.item_right {
  height: 109px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: block;
  width: 23%;
  margin: 50px 10px 20px 12px;
}

.right_top {
  padding: 17px 17px 6px;
}

.city_home {
  font-size: 12px;
  line-height: 14px;
  color: #474747;
  font-weight: 600;
}

.weather_image {
  width: 71px;
  height: 56px;
}

.weather {
  display: flex;
  justify-content: space-evenly;
}

.weather_flex {
  display: flex;
}

.temperature {
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  color: #474747;
}

.weather_sign {
  padding: 11px 0;
}

.t_role {
    padding: 85px 41px;
    background: #FFFFFE;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.l_body_content {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.t_role span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  font-weight: 500;
  color: #4C5BD4;
  padding-left: 15px;
}
.item_right {
  margin-top: 20px;
  margin-right: 13px;
  padding: 11px 20px;
  background: linear-gradient(90deg, #437aff 0%, #67a4fe 100%);
  border-radius: 8px;
  width: 19%;
}
.month {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-align: right;
}
.time_image {
  text-align: center;
  width: 95px;
  height: 125px;
  margin: 0px auto;
  border: 0;
}
.image {
  text-align: center;
  width: 95px;
  height: 125px;
  margin: 0px auto;
}

.flex {
  display: flex;
  justify-content: center;
}

.time {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 64px;
  color: #ffffff;
}

.days {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.body {
      display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 480px) {
  .t_role {
    padding: 28px 28px;
  }
}
@media only screen and (max-width: 1200px) {
  .item_left_img img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .item_right {
    display: none;
  }
  .item_right_weather {
    display: none;
  }
  .item_left {
    width: 100%;
    margin: 50px 10px 15px 10px;
  }
}
@media only screen and (max-width: 495px) {
  .item_left_img img {
    width: 71%;
  }
}
