.setting {
    float: right;
    width: 150px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.setting img {
    display: block;
    float: right;
    border: 0;
}

.settings_hover {
    z-index: 1;
    width: 183px;
    height: 110px;
    text-align: left;
    border-radius: 8px;
    position: absolute;
    background: white;
    right: 15px;
    top: 16px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
    margin-bottom: 5px;
}

.settings_hover li{
    height: 20px;
    list-style: none;
    
    border-left: 3px solid #ffffff;
    cursor: pointer;
    padding: 16px 40px 14px 13px;
    font-size: 14px;
    font-weight: 600;

}
.settings_hover li:hover {
    color: #4C5BD4;
    border-left: 3px solid #4C5BD4;
}