.modal_open {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
  z-index: 99;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
  overflow-y: auto !important;
  overflow-x: hidden;
}
.t_require {
  color: red;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.fade {
  transition: opacity 0.15s linear;
}
.fade .in {
  opacity: 1;
}
.content_process {
  width: 736px;
  height: auto;
  border-radius: 8px;
}
.modal_dialog {
  position: relative;
  margin: 30px auto;
}
.modal_content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  background-clip: padding-box;
}
.header_process {
  text-align: center;
  background: #4c5bd4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.header_process h5 {
  color: white;
  font-size: 16x !important;
}
.modal_header {
  border: none;
  padding: 15px;
}
.modal_body {
  position: relative;
  padding: 15px;
}
.form_groups {
  margin-bottom: 15px;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 95%;
}
.edit_room {
  display: flex !important;
}
.edit_room label {
  width: 30%;
}
.body_process {
  text-align: left;
  padding-bottom: 0;
  padding-top: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.form_groups label {
  color: #474747;
  font-size: 14.5px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  width: 100%;
  margin-bottom: 5px;
  display: block;
}
.input_right {
  width: 100%;
}
.edit_right {
  width: 70% !important;
}

.input_process {
  background-color: white;
  border: 1px solid rgba(71, 71, 71, 0.48);
  width: 99.5%;
  height: 30px;
  border-radius: 4px;
  line-height: 45px;
  font-weight: 600;
}
.footer_process {
  margin-top: 2%;
  padding-right: 13%;
  text-align: right;
  padding: 15px;
  border: none;
}
.modal_footer button {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 10px 30px;
  border-radius: 4px;
  color: inherit;
  border: none;
}
.btn_add {
  margin-left: 5px;
  color: #fff !important;
  background-color: #5cb85c;
}
.btn_add:hover {
  background-color: #449d44;
}
.cke {
  display: inline-block !important;
}
/* .ckeditor {
  width: 100%;
} */
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .content_process {
    width: 95%;
  }
  .body_process .form_groups {
    margin-top: 25px;
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .content_process {
    width: 90%;
  }
  .body_process .form_groups {
    margin-top: 25px;
    display: grid;
    width: 100%;
  }
  .input_right {
    width: 100%;
  }
}
