:root {
  font-family: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
}

* {
}

html,
body {
  margin: 0px;
}

body {
}

a {
  text-decoration: none;
}
a:hover {
  background: #f1f9fc;
}



@media (prefers-color-scheme: dark) {
}
