.tintuyendung {
    width: 100%;
    max-width: 1120px;
}
.tintuyendung li {
    list-style: none;
}
.tuyendung1 {
    width: 100%;
}
.tuyendung1 button {
    outline: none !important;
    border: none !important;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
}
.adds {
    
    height: 18px;
    background: none;
    color: #4C5BD4;
    padding: 1px 6px;
}
.adds picture {
    display: flex;
    align-items: center;
}
.adds img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin: -3px 10px 0 0;
    padding: 0;
}
.adds p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;

}
.tuyendung2 {
    display: inline-block;
    width: 100%;
    margin-top: 35px;
}
.tuyendung2_1 {
    width: 462px;
    float: left;
    display: flex;
}
.tuyendung2_1 span {
    margin-right: 5px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}
.tuyendung2_1 input {
    background: white;
    border: 1px solid rgba(71, 71, 71, 0.24);
    border-radius: 8px;
    padding: 5px;
}
.search_from_date {
    margin-right: 22px;
}
.search_from_date .search_to_date {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}


.t_form_search {
    display: block;
    margin-top: 0em;
}

.t_div_search {
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 50px;
    height: 36px;
    padding: 8px 13px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t_div_search input {
    outline: none;
    border: none;
    width: 345px;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.button_search {
    border: none;
    background-color: transparent;
}
.tuyendung2_2 {
    float: right;
    width: 40%;
}

/* body_tin_tuyen_dung */
.new_r {
    margin-top: 30px;
    background: #FFFFFF;
    border: 0.5px solid rgba(71, 71, 71, 0.24);
    box-sizing: border-box;
    border-radius: 8px;
    
}
.t_new_dom {
    width: 774px;
}

.new_r_t_header_content {

}
.row {
    margin: 0;
}




.t_ita {
    width: 157px;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    padding: 0;
    margin: 0;
}

.t_new_type {
    padding: 0;
    width: 250px;
    display: inline-block;
    margin-left: 6%;
}

.pull_right {
    float: right !important;
    background: transparent;
    border: none;
}
.pull_right_img {
   display: flex;
   justify-content: flex-end;
}

/* setting */

.settings {
    position: relative;
    width: 165px;
    height: 240px;
    overflow: hidden;
    background-color: #4C5BD4;
    z-index: 10;
    text-align: left;
    border-radius: 8px;
    background: white;
    right: 15px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 5%);
    
}
.new_r_t {
    padding: 0px 0px;
    padding-left: 0px;
}
.new_r_t_left {
    padding-left: 0px;
    padding-bottom: 10px;
}
.new_r_t_header {
    background: #F1F9FC;
    border-top-right-radius: 8px;
    padding: 8px;
    border-left: 5px solid #4C5BD4;
    border-top-left-radius: 5px;
    display: flex;
    height: 36px;
}
.new_r_t_left_h3 {
    width: 250px;
}

.new_r_t_left_link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #337ab7;
    margin-top: 0;
    margin-bottom: 0;
}
.new_r_t_left_tin {
    display: inline-block;
    background-color: #EB5757;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 30px;
    border-radius: 4px;
}
.new_r_t_left_tin:hover {
    background-color: #EB5757;
    color: #FFFFFF;
}

.new_r_t_right {
    position: relative;
}

.new_r_top_right {
    padding: 8px;
    width: 62px;
    height: 18px;
}
.new_r_t_body {
    width: 771px;
}
.new_r_t_body_content {
    padding: 13px 20px;
    border-bottom: 0.5px dashed rgba(71, 71, 71, 0.24);
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_r_t_body_content li {
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-right: 30px;
    line-height: 19px;
}
.new_r_t_body_content .text {
    color: #666666;
    font-size: 12px;
    font-weight: 600;
}
.new_r_t_body_content .icon {
    margin-right: 12px;
}
.settings li {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 40px 14px 13px;
    border-left: 3px solid #ffffff;
    cursor: pointer;
}
.settings li:hover {
    color: #4C5BD4;
    border-left: 3px solid #4C5BD4;
}
/* body_detail_tin_tuyen_dung */


