.l_body {
  display: inline-block;
  width: 99%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.back_quytrinh {
  padding-left: 5px;
  margin-bottom: 35px;
}
.back_quytrinh span {
  color: #337ab7;
  text-decoration: none !important;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}
.back_quytrinh img {
  margin-right: 11px;
  vertical-align: middle;
  border: 0;
}
.l_body_2 {
  display: flex;
}
.l_body_2_content {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.l_body_2_right {
  padding: 15px 0;
}
.l_body_2_left_header {
  display: flex;
  background: #4c5bd4;
  border-radius: 4px 4px 0px 0px;
  padding: 14px 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
}
.pull_left {
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
}
.text_right {
  width: 25%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
  padding-left: 15px;
}
.l_body_2_left_body {
  padding: 20px 15px;
  border: 1px solid rgba(71, 71, 71, 0.24);
}
.l_body_2_left_body_title {
  color: #4c5bd4 !important;
}
.l_body_2_left_body p {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #474747;
  margin-bottom: 15px;
  padding-right: 10px;
}
.txt_op {
  color: #666666 !important;
}
.rating {
  list-style-type: none;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: left;
}
.star {
  position: relative;
  line-height: 25px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #ebebeb;
}
.star:before {
  content: "\2605";
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .l_body_2 {
    display: inline-block;
    width: 100%;
  }
  .l_body_2_content {
    width: 97%;
  }
}

@media screen and (max-width: 465px) {
  .l_body_2_content {
    width: 93%;
  }
}
