.l_body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.l_body {
    display: inline-block;
    width: 100%;
    margin-top: 50px;

    max-width: 1120px;
    height: auto;
}

.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    
}
.nav li {
    cursor: default;
    background: none;
    border: none;
    font-size: 14px;
    margin: 0 2px 0 0;
    color: #474747 !important;
}

.li_tabs>.active {
    border-bottom: 4px solid #4C5BD4;
    color: #4C5BD4 !important;
}
.nav-tabs {
    display: block;
    overflow-y: hidden;
    
}
.li_tabs {
    
    line-height: 44px;
    cursor: default;
}
.li_tabs span {
    font-weight: 700;
    font-size: 14px;
    margin-right: 56px;
    padding: 12px 21.5px;
}
.li_tabs .hover:hover {
    border-color: #eee #eee #ddd;
    background-color: #eee;
}

@media (min-width: 281px) and (max-width: 480px) {
    .w_480 {
        width: 110%;
    }
}
@media (max-width: 280) {
    .w_480 {
        width: 120%;
    }
}